body {
  font-family: "Verdana" !important;
}

a {
  color: black !important;
}

#button-group > button, #button-group > a {
  color: white !important;
}

/* start page stuff  */

#or {
  padding-top: 140px !important;
  font-size: 24px !important;
}

.label-header {
  padding-bottom: 20px !important;
  font-weight: bold !important;
  font-size: 40px;
}

#login-header {
  padding-bottom: 50px !important;
}

/* all gigs page stuff */

#all-gigs-page, #your-gigs-page, #account-page, #welcome-page {
  padding-top: 20px;
}

#gigs-search, #create-gig, #edit-account-btn-div {
  padding-bottom: 25px;
}

#show-gig-content, #gigs-list-group {
  height: 600px !important;
  overflow: scroll !important;
}

#show-gig-body {
  padding-top: 30px !important;
}

.new-comment {
  padding-bottom: 10px !important;
}

#toggleComments {
  max-height: 600px !important;
  padding-bottom: 20px !important;
  overflow: scroll !important;
}

#comments-top {
  font-size: 24px !important;
  padding-bottom: 10px !important;
}

#show-gig-comments, #edit-gig-button, #delete-gig-button {
  height: 40px !important;
}

#account-name {
  text-align: right;
  float: right;
}


nav a {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
  /* padding-left: 40px !important;
  padding-right: 40px !important; */
  /* margin: 0; */
}
/* li #nav-item {
  list-style:none;
  margin:10px;
  margin: 0;
  padding: 0;
} */
